@import '../../../sass/utils/vars';

.item{
    border-radius: 5px;
    padding: 15px 10px;
    background-color: $forecastItemCl;
}

.item:not(:last-child){
    margin-right: 20px;
}

.today{
    font-family: $mainFont;
    font-size: 20px;
}

.date{
    font-size: 14px;
}