@import '../../../sass/utils/vars';

.item{
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px 10px;
}

.item:not(:last-child){
    margin-right: 20px;
}

.today{
    font-family: $mainFont;
    font-size: 20px;
}

.date{
    font-size: 14px;
}