@import '../../sass/utils/vars';

.list{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;

    border-radius: 15px;
    background-color: $forecastBckCl;
}

